.avatar-big {
    width: 208px;
    height: 208px;
    border-radius: 104px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    margin-bottom: 10px;
}

.avatar-little {
    width: 52px;
    height: 52px;
    border-radius: 26px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.stat-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.control-buttons {
    display: flex;
    gap: 10px;
    padding: 5px;
    flex-wrap: nowrap;
}

.control-buttons.row {
    flex-direction: row !important;
}

.control-buttons.column {
    flex-direction: column !important;
}

.memefeed {
    align-content: center;
    align-items: center;
    text-align: center;
}

.meme {
    width: 100%;
    height: auto;
    border-radius: 3px;
}

.cat-hr-container {
    position: relative;
    width: 100%;
    margin: 3rem 0;
}

.cat-hr-container hr {
    border: none;
    height: 2px;
    background-color: #6c757d;
    opacity: 0.4;
    margin: 0;
}

.cat-hr-container img.hr-cat {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -42px;
    width: auto;
    height: 42px;
    object-fit: contain;
    transition: transform 0.2s ease-in-out;
    pointer-events: none;
    z-index: 1001;
}

.cat-hr-container:hover img.hr-cat, img.hr-cat:hover {
    transform: translateX(-50%) translateY(-4px);
}

.with-tip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.with-tip::after {
    content: attr(data-tip);
    position: absolute;
    top: 125%;
    left: -100%;
    z-index: 10000;
    background-color: #eee;
    color: #222;
    padding: 5px 10px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
}

.with-tip:hover::after {
  opacity: 1;
  visibility: visible;
}