.meme-card {
    align-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.meme-card .memeheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
    place-self: center;
}

.memeheader .from-user {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    margin-left: 10%;
}

.memeheader .from-user .avatar-little {
    margin: 0 !important;
    display: block;
}

.memeheader .from-user .nickname {
    margin: 0 !important;
    text-align: left !important;
}

.memeheader .title {
    display: flex;
    margin-right: auto;
    flex: 2;
    text-align: center;
    align-items: center;
    font-size: 20px;
}

.meme-card .memebody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    gap: 5%;
    place-self: center;
}

.memebody .meme {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
}

.meme img {
    width: 100%;
    height: auto;
    border-radius: 3px;
}

.meme-card .memefooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    place-self: center;
}

.memefooter .memestat, .memefooter .create-date {
    display: flex;
    gap: 20px;
}