img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.avatar {
    max-width: 52px;
    max-height: 52px;
    border-radius: 26px;
}

.avatar.in-feed {
    margin-right: 10px;
}

.memefeed {
    align-content: center;
    align-items: center;
    text-align: center;
}