{% macro meme_card(meme, current_user, post=None, is_editing=False) %}
<div {% if post %} id="post-{{ post.id }}" {% endif %} class="border meme-card">
    {% set user, auth, is_admin = meme.user, current_user.is_authenticated, current_user.is_authenticated and current_user.id == 1 %}
    <div class="memeheader">
        <div class="from-user">
            <img src="{{ url_for('user_avatar', user_id=user.id) }}" alt="" class="avatar-little" loading="lazy">
            <a class="nickname text-secondary" href="/profile/{{ user.username }}">{{ user.nickname }}</a>
        </div>
        <div class="title">
            <p id="preview-title-text" class="heading-text header title">
                {% if post %}{{ post.title }}{% endif %}
            </p>
        </div>
        <div class="header-spacer"></div>
    </div>
    <div class="memebody">
        <div class="control-buttons column">
        {% if post and not is_editing %}
        {% if is_admin %}
            {% if user.id == 1 %}
            <a class="btn btn-warning" href="/post/{{ post.id }}/edit">📝</a>
            {% else %}
            <a class="btn btn-dark" href="/post/{{ post.id }}/block-author">🚫</a>
            {% endif %}
            <button class="btn btn-danger del-btn" data-post-id="{{ post.id }}" type="button">🗑️️</button>
        {% elif auth and user and user.id == current_user.id %}
            <a class="btn btn-warning" href="/post/{{ post.id }}/edit">📝</a>
            <button class="btn btn-danger del-btn" data-post-id="{{ post.id }}" type="button">🗑️</button>
        {% endif %}
        <a class="btn btn-outline-warning">⏬</a>
        {% endif %}
        </div>
        <div class="border meme-content">
            <img src="{{ url_for('meme_picture', meme_id=meme.id) }}" alt="" class="meme" loading="lazy">
            <p id="preview-descr-text" class="text-secondary descr">
                {% if post %}{{ post.description }}{% endif %}
            </p>
        </div>
        <div class="control-buttons column">
            {% if post and not is_editing %}
            <button class="btn btn-{% if post and current_user.id not in post.likes|map(attribute='user_id') %}outline-{% endif %}danger like-btn"
                    data-post-id="{{ post.id if post else '' }}" type="button">❤️</button>
            <a class="btn btn-success" href="/post/{{ post.id }}/match">🔀</a>
            {% endif %}
        </div>
    </div>
    <div class="memefooter">
        <div class="memestat">
            <div class="stat-item">
                <p><span class="likes-count-val-{{ post.id }}">{{ post.likes|length }}</span> ❤️</p>
            </div>
            <div class="stat-item">
                <p>{{ post.matches|length }} 🔄️</p>
            </div>
        </div>
        <div class="create-date">
            <div class="stat-item">
                <p>{% if post %}{{ post.created_date }}{% endif %}</p>
            </div>
        </div>
    </div>
</div>
{% endmacro %}