{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/errorpage.css') }}"/>
{% endblock %}

{% block content %}
<div class="error-page">
    <div class="alert-danger warn" role="alert">
        <p>Вы уже получили свой Золотой API-Ключик. Можно взять новый или вспомнить, куда ж вы его сохранили.</p>
        <div class="control-buttons row">
            <a class="btn btn-light" href="/my-api/get-key">Получить новый ключ</a>
            <a class="btn btn-light" href="/">Убежать домой</a>
        </div>
    </div>
</div>
{% endblock %}