{% extends "base.html" %}

{% block content %}
<div class="container memefeed">
    <div class="container">
        <img id="preview-image" src="{{ url_for('user_avatar', user_id=current_user.id) }}" alt="" class="avatar-big">
        <h2 id="preview-nickname" class="heading-text">{{ current_user.nickname }}</h2>
        <p id="preview-about" class="text-secondary">{{current_user.about }}</p>
    </div>
</div>

<form action="" method="post" enctype="multipart/form-data" class="memefeed">
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(
            placeholder=current_user.username,
            class="form-control",
            pattern="^[a-zA-Z0-9][a-zA-Z0-9_~]*[a-zA-Z0-9]$|^[a-zA-Z0-9]$",
            minlength="5",
            maxlength="32",
            title="Имя пользователя может состоять из латиницы и символов _ ~, но не по краям. Состоит из 5 символов, не меньше, и из 32, не больше"
        )
        }}<br>
        {% for error in form.username.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.nickname.label }}<br>
        {{ form.nickname(placeholder=current_user.nickname, class="form-control", maxlength="50", oninput="previewNickname(this)") }}<br>
        {% for error in form.nickname.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.about.label }}<br>
        {{ form.about(placeholder=current_user.about, class="form-control", maxlength="512", oninput="previewAbout(this)") }}<br>
        {% for error in form.about.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.picture.label }}<br>
        {{ form.picture(class="form-control", type="file", onchange="previewImage(this)") }}<br>
        {% for error in form.picture.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}

    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}

{% block scripts %}
<script>
function previewNickname(input) {
    const nickname = document.getElementById("preview-nickname");
    if (input.value.trim()) {
        nickname.textContent = input.value;
    } else {
        nickname.textContent = "{{ current_user.nickname }}"
    }
}

function previewAbout(input) {
    const about = document.getElementById('preview-about');
    if (input.value.trim()) {
        about.textContent = input.value;
    } else {
        about.textContent = "{{ current_user.about }}"
    }
}

function previewImage(input) {
    if (input.files && input.files[0]) {
        const reader = new FileReader();
        reader.onload = function(e) {
            document.getElementById('preview-image').src = e.target.result;
        };
        reader.readAsDataURL(input.files[0]);
    }
}
</script>
{% endblock %}