{% extends "base.html" %}

{% set auth = current_user.is_authenticated %}
{% set is_admin = auth and current_user.id == 9 %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/memefeed.css') }}"/>
{% endblock %}

{% block content %}
<div class="memefeed">
    <h1>Привет, {% if auth %}{{ current_user.nickname }}{% else %}Анонимус{% endif %}!</h1>
    <hr>
    {% for meme in memes %}
        <div class="border meme-card">
            {% set user = meme.user %}
            <div class="memeheader">
                <div class="from-user">
                    <img src="{{ url_for('user_avatar', user_id=user.id) }}" alt="" class="avatar-little">
                    <a href="profile/{{ user.id }}" class="nickname text-secondary">{{ user.nickname }}</a>
                </div>
                <div class="title">
                    <p class="heading-text">{{ meme.title }}</p>
                </div>
            </div>
            <div class="memebody">
                <div class="control-buttons column">
                    {% if is_admin %}
                        <a class="btn btn-danger">🗑️</a>
                        <a class="btn btn-dark">🚫</a>
                    {% elif auth and user.id == current_user.id %}
                        <a class="btn btn-warning">📝</a>
                        <a class="btn btn-danger">🗑️</a>
                    {% endif %}
                    <a class="btn btn-outline-warning">⏬</a>
                </div>
                <div class="border meme-content">
                    <img src="{{ url_for('meme_picture', meme_id=meme.id) }}" alt="" class="meme">
                    {% if meme.description %}
                    <p class="text-secondary">{{ meme.description }}</p>
                    {% endif %}
                </div>
                <div class="control-buttons column">
                    <a class="btn btn-outline-danger">❤️</a>
                    <a class="btn btn-success">🔀</a>
                </div>
            </div>
            <div class="memefooter">
                <div class="memestat">
                    <div class="stat-item">
                        <p>{{ meme.likes|length }} ❤️</p>
                    </div>
                    <div class="stat-item">
                        <p>{{ meme.matches|length }} 🔄️</p>
                    </div>
                </div>
                <div class="create-date">
                    <div class="stat-item">
                        <p>{{ meme.created_date }}</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
    {% endfor %}
    <hr>
    <h3>Мемы закончились =(</h3>
    {% if auth %}
        <a class="btn btn-light" href="/meme/create">Создать новый мем</a>
    {% endif %}
    <hr>
    ~MemeMatch~
</div>
{% endblock %}