{% extends "base.html" %}

{% from "macros/meme_card.html" import meme_card %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/memefeed.css') }}"/>
{% endblock %}

{% block content %}
<div class="memefeed">
    <h1>Привет, {% if current_user.is_authenticated %}{{ current_user.nickname }}{% else %}Анонимус{% endif %}!</h1>
    <hr>
    {% for post in posts %}
    <div class="meme-wrapper">
        {{ meme_card(post.meme, current_user, post) }}
        <br id="sep-{{ post.id }}">
    </div>
    {% endfor %}
    <div class="text-center my-4">
        <button type="button" id="load-more-btn" class="btn btn-outline-warning">
            <i class="bi bi-file-earmark-plus-fill"></i> Мне нужно БОЛЬШЕ мемов!
        </button>
    </div>
    <div class="cat-hr-container">
        <hr>
    </div>
    <h3 id="end-feed-msg" style="display: none">Мемы закончились =(</h3>
    {% if current_user.is_authenticated %}
        <a class="btn btn-light" href="/meme/create"><i class="bi bi-pencil-fill"></i> Создать новый мем</a>
    {% endif %}
    <hr>
    ~MemeMatch~
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/post_buttons.js') }}"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const packSize = 10;
    const wrappers = document.querySelectorAll('.meme-wrapper');
    const btn = document.getElementById('load-more-btn');

    let currentIndex = 0;

    function showNextPack() {
        let shownInThisPack = 0;

        for (let i = currentIndex; i < wrappers.length; i++) {
            if (shownInThisPack >= packSize) break;
            wrappers[i].classList.add('visible');
            shownInThisPack++;
            currentIndex++;
        }

        if (currentIndex >= wrappers.length && btn) {
            btn.style.display = 'none';

            const endFeedMsg = document.getElementById('end-feed-msg');
            if (endFeedMsg) endFeedMsg.style.display = 'block';
        }
    }

    if (btn) {
        btn.addEventListener('click', showNextPack);
        showNextPack();
        showNextPack();
    }
});
</script>
{% endblock %}