{% extends "base.html" %}

{% set meta = meme.meta %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        <img id="meme-source" src="{{ url_for('meme_picture', meme_id=meme.id, type='source') }}" alt="" style="display: none">
        <img id="meme-preview" src="{{ url_for('meme_picture', meme_id=meme.id, type='result') }}" alt="" class="meme" style="width: 50%">
        <input id="meme-source-input" type="hidden" name="meme_source">
        <input id="meme-result-input" type="hidden" name="meme_result">
        <input id="meme-meta-input" type="hidden" name="meme_meta">
        <hr>
        <!--text-->
        <p>{{ form.text(id="text-toggler",
                        checked=meta.get('textType', False),
                        onchange="makeMemeFromData()") }} {{ form.text.label }}</p>
        <p>
            {{ form.text_top.label(class="text") }}<br>
            {{ form.text_top(id="topText",
                             class="form-control text",
                             oninput="makeMemeFromData()",
                             value=meta.get('topText', '')
            ) }}
            {% for error in form.text_top.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.text_bottom.label(class="text") }}<br>
            {{ form.text_bottom(id="bottomText",
                                class="form-control text",
                                oninput="makeMemeFromData()",
                                value=meta.get('bottomText', '')
            ) }}
            {% for error in form.text_bottom.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <hr>
        <!--jackal-->
        <p>{{ form.jackal(id="jackal-toggler",
                          checked=meta.get('jackalType', False),
                          onchange="makeMemeFromData()") }} {{ form.jackal.label }}</p>
        <p>
            {{ form.jackal_degree.label(class="jackal") }}<br>
            {{ form.jackal_degree(id="jackalDegree",
                                  class="form-control jackal",
                                  onchange="makeMemeFromData()",
                                  value=meta.get('jackalDegree', form.jackal_degree.default)
            ) }}
            {% for error in form.jackal_degree.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <hr>
        <!--demik-->
        <p>{{ form.demik(id="demik-toggler",
                         checked=meta.get('demikType', False),
                         onchange="makeMemeFromData()") }} {{ form.demik.label }}</p>
        <p>
            {{ form.demik_top_text.label(class="demik") }}<br>
            {{ form.demik_top_text(id="demikTopText",
                                   class="form-control demik",
                                   oninput="makeMemeFromData()",
                                   value=meta.get('demikTopText', form.demik_top_text.default)
            ) }}
            {% for error in form.demik_top_text.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.demik_bottom_text.label(class="demik") }}<br>
            {{ form.demik_bottom_text(id="demikBottomText",
                                      class="form-control demik",
                                      oninput="makeMemeFromData()",
                                      value=meta.get('demikBottomText', form.demik_bottom_text.default)
            ) }}
            {% for error in form.demik_bottom_text.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.demik_border_width.label(class="demik") }}<br>
            {{ form.demik_border_width(id="demikBorder",
                                       class="form-control demik",
                                       onchange="makeMemeFromData()",
                                       value=meta.get('demikBorder', form.demik_border_width.default)
            ) }}
            {% for error in form.demik_border_width.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.demik_outline_width.label(class="demik") }}<br>
            {{ form.demik_outline_width(id="demikOutline",
                                        class="form-control demik",
                                        onchange="makeMemeFromData()",
                                        value=meta.get('demikOutline', form.demik_outline_width.default)
            ) }}
            {% for error in form.demik_outline_width.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
    </p>
    <p>{{form.save(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/meme_maker.js') }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const text_toggler = document.getElementById('text-toggler');
        const text_elements = document.querySelectorAll('.text');

        function updateState() {
            const isTextDisabled = !text_toggler.checked;

            text_elements.forEach(elem => {
                elem.disabled = isTextDisabled;
                elem.style.opacity = isTextDisabled ? '0.5' : '1';
            });
        }

        text_toggler.addEventListener('change', updateState);

        updateState();
    })

    document.addEventListener('DOMContentLoaded', function () {
        const jackal_toggler = document.getElementById('jackal-toggler');
        const jackal_elements = document.querySelectorAll('.jackal');

        function updateState() {
            const isJackalDisabled = !jackal_toggler.checked;
            jackal_elements.forEach(elem => {
                elem.disabled = isJackalDisabled;
                elem.style.opacity = isJackalDisabled ? '0.5' : '1';
            });
        }

        jackal_toggler.addEventListener('change', updateState);

        updateState();
    })

    document.addEventListener('DOMContentLoaded', function () {
        const demik_toggler = document.getElementById('demik-toggler');
        const demik_elements = document.querySelectorAll('.demik');

        function updateState() {
            const isDemikDisabled = !demik_toggler.checked;

            demik_elements.forEach(elem => {
                elem.disabled = isDemikDisabled;
                elem.style.opacity = isDemikDisabled ? '0.5' : '1';
            })
        }

        demik_toggler.addEventListener('change', updateState);

        updateState();
    })

    window.addEventListener('load', function() {
    makeMemeFromData();
});
</script>
<script>
    let timeout;

    async function makeMemeFromData() {
        clearTimeout(timeout);

        timeout = setTimeout(async () => {
            const imageSource = document.getElementById('meme-source');
            const imagePreview = document.getElementById('meme-preview');
            const textType = document.getElementById('text-toggler').checked;
            const topText = document.getElementById('topText').value.trim();
            const bottomText = document.getElementById('bottomText').value.trim();
            const jackalType = document.getElementById('jackal-toggler').checked;
            const jackalDegree = document.getElementById('jackalDegree').value || 30;
            const demikType = document.getElementById('demik-toggler').checked;
            const demikTopText = document.getElementById('demikTopText').value.trim();
            const demikBottomText = document.getElementById('demikBottomText').value.trim();
            const demikBorder = document.getElementById('demikBorder').value || 100;
            const demikOutline = document.getElementById('demikOutline').value || 3;

            let params = {
                textType, topText, bottomText,
                jackalType, jackalDegree,
                demikType, demikTopText, demikBottomText, demikBorder, demikOutline
            };

            await makeMeme(imageSource, imagePreview, params);
        }, 169)
    }
</script>
<script>

</script>
{% endblock %}