{% extends "base.html" %}

{% from "macros/meme_card.html" import meme_card %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/memefeed.css') }}"/>
{% endblock %}

{% block content %}
<div class="container memefeed">
    <div class="container">
        <img src="{{ url_for('user_avatar', user_id=user.id) }}" alt="" class="avatar-big">
        <h2 class="heading-text">{{ user.nickname }}</h2>
        <p class="text-secondary">{{user.about }}</p>
        {% if is_owner %}
            <a class="btn btn-light" href="/profile/edit">Изменить</a>
        {% endif %}
    </div>
    <div class="cat-hr-container">
        <hr>
    </div>
    {% if posts %}
        <h3 id="memes-by">{% if is_owner %}Мои мемы{% else %}Мемы {{ user.nickname }}{% endif %}</h3>
        {% for post in posts %}
            {{ meme_card(post.meme, current_user, post) }}
            <br id="sep-{{ post.id }}">
        {% endfor %}
    {% endif %}
    <h3 id="no-memes-yet"{% if posts %} style="display: none"{% endif %}>Мемов пока нет =(</h3>
    {% if is_owner %}
        <a class="btn btn-light" href="/meme/create">Создать новый мем</a>
        <hr>
        <a class="btn btn-dark" href="/my-api/get-key/force-trying">Получить Золотой API-Ключик</a>
    {% endif %}
    <hr>
    ~MemeMatch~
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/post_buttons.js') }}"></script>
{% endblock %}