{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/errorpage.css') }}"/>
{% endblock %}

{% block content %}
<div class="error-page">
    <h1>Страница не найдена</h1>
    <div class="alert-danger warn" role="alert">
        <p>Поздравляем! Вы забрели на невиданные никем земли (буквально).</p>
            <a class="btn btn-light" href="/">Убежать домой</a>
    </div>
    <img src="{{ url_for('static', filename='img/okak.jpg') }}" alt="И картинка не загрузилась. Окак.">
</div>
{% endblock %}