{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/errorpage.css') }}"/>
{% endblock %}

{% block content %}
<div class="error-page">
    <h1>Я чайник, а ты нет. Смирись</h1>
    <div class="alert-danger warn" role="alert">
        <p>Эта опция доступна только <a class="text-secondary" href="/profile/teapot">Великому Чайнику</a>.</p>
            <a class="btn btn-light" href="/">Убежать домой</a>
    </div>
    <img src="{{ url_for('static', filename='img/vazina.jpg') }}" alt="Даже картинка не загрузится, если ты не чайник">
</div>
{% endblock %}